{% extends 'template.html.twig' %}

{% block title %}
    Users
{% endblock %}

{% block PageTitle %}
    Users
{% endblock %}

{% block body %}
    {{ include('fragments/date.html.twig') }}
    <div class="alert alert-warning">
        <a href="{{ path('app_tab', {nbr : 7}) }}"> Stats Tab</a>
    </div>
     <table class="table">
         <tr class="table-active">
             <td>Firstname</td>
             <td>Name</td>
             <td>Age</td>
             <td>Message</td>
         </tr>
         {% for user in users %}
         <tr class="table-{% if loop.index is odd %}danger{% else %}info{% endif %}">
             <td>{{ user.firstname }}</td>
             <td>{{ user.name }}</td>
             <td>{{ user.age }}</td>
              <td>
                  {{
                      render(controller('App\\Controller\\FirstController::sayHello', {  name:user.name, firstName:user.firstname }))
                  }}
              </td>
         </tr>
         {% endfor %}
     </table>

{% endblock %}
