{% extends 'template.html.twig' %}

{% block title %}
  {{ name }}:{{ firstname }}
{% endblock %}

{% block body %}

    <h1> I love {{ name | capitalize }} {{ firstname | capitalize }}</h1>

    <div>
        <p>Bonjour Assad Ahmed Oumouri</p>
        Mon Url absolue est : {{ url('app_first') }}
    </div>
{% endblock %}

